<div id="about" class="invisible relative top-[-100px] h-0"><wbr /></div>
<section class="bg-zinc-900 py-24 px-6">
  <div class="mx-auto max-w-2xl text-center">
    <h2
      id="about"
      class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
    >
      O nás
    </h2>
    <p class="mt-12 text-lg leading-8 text-zinc-300">
      Proč jsme zvolili název pod činkou?
    </p>
    <p class="mt-4 text-lg leading-8 text-zinc-300">
      Odpověď je jednoduchá, všichni se pod ní jednou dostaneme. Naší filozofií
      není vlastnit fitko plné moderních strojů, co za Vás vedou veškerý pohyb,
      ale mít funkční vybavení, které vytvoří silné, funkční a svalnaté těla.
    </p>
    <p class="mt-4 text-lg leading-8 text-zinc-300">
      Navíc chceme aby bylo naše fitko co nejvíce soukromé, takže přístup k nám
      mají jen naši klienti a díky tomu se nemusí nikdo stydět nebo bát toho, že
      by na něj někdo koukal.
    </p>
  </div>
</section>
