<div id="home" class="invisible relative h-0"><wbr /></div>
<section class="isolate h-screen overflow-hidden bg-zinc-900">
  <video
    src="video.mp4"
    muted
    autoplay
    loop
    class="absolute inset-0 -z-10 h-full w-full object-cover brightness-[0.2] filter"
  ></video>
  <div class="flex h-screen flex-col">
    <div class="flex flex-1 items-center justify-center">
      <div class="text-center">
        <h1
          class="text-5xl font-bold uppercase tracking-tight text-white sm:text-8xl"
        >
          Pod Činkou
        </h1>
        <p class="mt-6 text-xl leading-8 text-zinc-300">
          Soukromé fitko kousek od centra Plzně
        </p>
      </div>
    </div>
  </div>
</section>
